.gridrooms{
    width: 100%;
    text-align: center;
    margin-top: 5%;
}
.grid{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 7.5%;
}
.category{
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.cardAction{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.roomInfo{
    height: 80px;
}

.book{
    width: 120px;
    height: 40px;
    background-color: #01a6e6;
    border: none;
    border-radius: 3px;
    color: white;
    padding: 0;
    font-size: 1rem;
}
.book:hover{
    cursor: pointer;
    background-color: #005a9c;
}
